.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wrapper {
  padding: 12px 24px;
}
