.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learningDaysContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.learningDayItem > label {
  width: 100%;
  text-align: center;
}
