.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray-800);
}
